@{
    ViewBag.Title = "Verifiera mejladress";
}

<h2>@ViewBag.Title</h2>
<div>
    <h4>Tack för att du verifierade din mejladress. Vänligen @Html.ActionLink("klicka här för att logga in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</h4>
</div>
