@{
    ViewBag.Title = "Återställt lösenord";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Ditt lösenord har återställts. Vänligen @Html.ActionLink("klicka här för att logga in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
