@model yalms.Models.UserRoleModel
@{
    ViewBag.Title = "Ange användarens roll";
}

<h2>Ange användarens roll</h2>

@using  (Html.BeginForm())
{
    <input type="text" name="Username" id="Username" />
    <select name="Role" id="Role">
        <option name="student" selected value="student"> Elev </option> 
        <option name="teacher" value="teacher"> Lärare </option>
    </select>
    <input type="submit" id="SubmitUserRole" 
           name="SubmitUserRole" value="OK" />
}

@ViewBag.message

