@{
    ViewBag.Title = "Om applikationen";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>yalms | Yet Another Learning Management System</p>
<p>Utvecklat av:<br />
    Alexander Wåhlin<br />
    Michael Kolmodin<br />
    Pekka Brännbäck</p>
