@{
    ViewBag.Title = "Om yalms";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<img src="~/images/yalms-pupil.png" />
<p><br />
    Utvecklat av:<br />
    Alexander Wåhlin<br />
    Michael Kolmodin<br />
    Pekka Brännbäck</p>
