@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Västra Varvsgatan 18<br />
    972 36 Luleå<br />
    <abbr title="Telefon">Tel:</abbr>
    020-360 370
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info@studentconsulting.com">info@studentconsulting.com</a><br />
</address>