@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<img src="~/images/sc-logo.png" />
<address>
    Västra Varvsgatan 18<br />
    972 36 Luleå<br />
    <br />
    Telefon: 020-360 370<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:info@studentconsulting.com">info@studentconsulting.com</a><br />
</address>