@model yalms.Models.AdminViewModel

@Scripts.Render("~/bundles/bootstrap")


@{
    ViewBag.Title = "Index";
}
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Användare</a></li>
    <li><a data-toggle="tab" href="#menu1">Kurser</a></li>
    <li><a data-toggle="tab" href="#menu2">Klasser</a></li>
</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <h3>Användarkonton</h3>
        <p>Some content.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
        <h3>Kurser</h3>
        <p>Some content in menu 1.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
        <h3>Klasser</h3>
        <p>Some content in menu 2.</p>
    </div>
</div>

