@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Utlåst";
}

<hgroup>
    <h1 class="text-danger">Utlåst.</h1>
    <h2 class="text-danger">Detta konto har låsts, vänligen försök igen senare.</h2>
</hgroup>
